.footer {
    background-color: #f2f2f2;
    padding: 20px 0;
    text-align: center;
    bottom: 0;
    width: 100%;
    font-family: 'Arial', sans-serif;

  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  