.separator {
  display: inline-block;
  width: 1px;
  height: 20px; /* Ajustez la hauteur selon vos besoins */
  background-color: #ccc; /* Couleur du trait de séparation */
  margin: 0 10px; /* Marge autour du séparateur */
}
