<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Localisateur de l'ISS en temps réel</title>
  <link rel="stylesheet" href="accueil-top.component.css">
</head>



<body>

<div class="Main_tittle">
  <h1>Localiser l'ISS en temps réel</h1>
</div>
<br>

  <div class="container">
    <section class="feature">
      <h2>Qu'est-ce que l'ISS ?</h2>
      <br>
      <br>
      <p>La Station spatiale internationale (ISS) est un laboratoire en orbite autour de la Terre, où des astronautes et des chercheurs du monde entier travaillent ensemble pour mener des expériences et réaliser des observations dans l'espace.</p>
    </section>
    
    <section class="feature">
      <h2>Comment ça marche ?</h2>
      <br>
      <br>
      <p>Notre site utilise les données en temps réel fournies par la NASA et d'autres agences spatiales pour suivre la trajectoire de l'ISS autour de la Terre. Vous pouvez utiliser notre outil de localisation pour connaître sa position actuelle, sa vitesse et d'autres informations importantes.</p>
    </section>

    <section class="feature">
      <h2>Commencez dès maintenant</h2>
      <br>
      <br>
      <p>Pour commencer à localiser l'ISS en temps réel, je vous invite à vous créer un compte sur ce site. Vous pourrez visualisé l'ISS en temps réel ou qu'elle soit.</p>
      
    </section>
  </div>
