<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Localisateur de l'ISS en temps réel</title>
  <link rel="stylesheet" href="accueil-top.component.css">
</head>



<body>
<br>

<br>
<div class="Main_tittle">
  <h1>Locating the ISS in real time</h1>
</div>
<br>

  <div class="container">
    <section class="feature">
      <h2>What is the ISS?</h2>
      <br>
      <br>
      <p>The International Space Station (ISS) is a laboratory orbiting the Earth, where astronauts and researchers from all over the world work together to conduct experiments and make observations in space.</p>
    </section>
    
    <section class="feature">
      <h2>How does it work?</h2>
      <br>
      <br>
      <p>Our site uses real-time data provided by NASA and other space agencies to track the trajectory of the ISS around the Earth. You can use our location tool to find out its current position, speed and other important information.</p>
    </section>

    <section class="feature">
      <h2>Get started now</h2>
      <br>
      <br>
      <p>To start locating the ISS in real time, I invite you to create an account on this site. You'll be able to view the ISS in real time, wherever it i</p>
      
    </section>
  </div>
