body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/background3.jpg'); /* Image de fond */
    background-size: cover;
    background-position: center;
    filter: blur(10px); /* Effet de flou */
  }
  
  .container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contact-form {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 400px; /* Elargissement du formulaire */
  }
  
  .contact-form h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid #555;
    border-radius: 5px;
    color: #fff;
  }
  
  button {
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff; /* Bouton bleu */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transition lors du survol */
  }
  
  button:hover {
    background-color: #0056b3; /* Changement de couleur lors du survol */
  }
  
  