<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Localisateur de l'ISS en temps réel</title>
  <link rel="stylesheet" href="forumwelcom.component.css">
</head>



<body>
<br>

<br>
<div class="Main_tittle">
  <h1>Welcom to the Forum section</h1>
</div>
<br>

  <div class="container">
    <section class="feature">
      <h2>What is the ISS?</h2>
      <br>
      <br>
      <p>The International Space Station (ISS) is a laboratory orbiting the Earth, where astronauts and researchers from all over the world work together to conduct experiments and make observations in space.</p>
    </section>
    
    <section class="feature">
      <h2>Forum rules</h2>
      <br>
      <br>
      <p>Respect others: Treat fellow members with kindness and respect.
        Stay on topic: Keep discussions relevant to the forum's theme.
        No spam or hate speech: Avoid spamming and refrain from any form of hate speech or discrimination.</p>
    </section>

    <section class="feature">
      <h2>Get started now</h2>
      <br>
      <br>
      <p>To start locating the ISS in real time, I invite you to create an account on this site. You'll be able to view the ISS in real time, wherever it i</p>
      
    </section>
  </div>
