<body>
    <nav class="navbar">
          <div class="container">
            <a class="navbar-brand" routerLink="/">
            </a>
            <ul class="navbar-nav">
              <li class="nav-item"><a class="nav-link" routerLink="/home" routerLinkActive="active">Accueil</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/about" routerLinkActive="active">À Propos</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a></li>
            </ul>
            <a class="btn-connexion" routerLink="/login">Login</a>
            
          </div>
        </nav>
        
        
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>