/* separator.component.css */

.separator {
  height: 1.5px;
  width: 100%;
  background-color: #000; /* Couleur solide noire */
  margin: 20px 0; /* Espacement au-dessus et en dessous de la barre */
}
