#map {
  margin-top: 30px;
  height: 600px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #ddd; /* Couleur de la bordure légèrement plus claire */
  border-radius: 15px; /* Coins arrondis plus prononcés */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ajout d'une légère ombre */
}
