<div class="chat-container">
  <h1 class="chat-title">Welcome to the Forum Section</h1>
  <div class="messages">
    <div *ngFor="let message of messages">
      <div class="message">
        <div class="message-info">
          <span class="message-date message-time">{{ message?.createdAt | date:'HH:mm' }}</span>&nbsp;
          <strong>{{ message?.userID }}</strong>:&nbsp;
          <span class="message-text">{{ message?.text }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="input-container">
    <input type="text" [(ngModel)]="message" placeholder="Type your message here">
    <button (click)="sendMessage()">Send</button>
  </div>
</div>
