/* Styles CSS avec un thème sombre */

/* Conteneur principal du forum */
.chat-container {
  width: 100%;
  max-width: 800px; /* Vous pouvez ajuster la largeur maximale selon vos besoins */
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: #333; /* Fond sombre */
  color: #fff; /* Texte clair */
  border-radius: 10px;
}

/* Titre du forum */
.chat-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

/* Conteneur des messages */
.messages {
  max-height: 300px; /* Limitez la hauteur pour faire défiler les messages */
  overflow-y: auto; /* Ajoutez une barre de défilement si nécessaire */
}

/* Styles des messages */
.message {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #444; /* Couleur de fond plus foncée */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.message-info {
  font-size: 14px;
  color: #ccc; /* Couleur du texte plus clair */
}

.message-text {
  font-size: 16px;
  color: #fff; /* Texte clair */
}

/* Conteneur du formulaire de saisie */
.input-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

/* Styles de l'entrée de texte */
.input-container input {
  flex: 1;
  padding: 10px;
  border: 1px solid #666; /* Bordure légèrement plus claire */
  border-radius: 5px;
  background-color: #444; /* Fond sombre */
  color: #fff; /* Texte clair */
}

/* Styles du bouton d'envoi */
.input-container button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff; /* Couleur de bouton par défaut */
  color: #fff; /* Texte clair */
  cursor: pointer;
}

/* Changez la couleur du bouton lorsqu'il est survolé */
.input-container button:hover {
  background-color: #0056b3; /* Couleur de survol plus foncée */
}
