<app-navbar></app-navbar>

<div class="login-container">
  <div *ngIf="isLoading" class="loading-overlay">
    <div class="loader"></div>
  </div>

<div class="container">
  <div class="background"></div>
  <div class="container">
    <div class="contact-form">
      <h2>Login</h2>
      <form (submit)="login(email.value, password.value)">
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" class="form-control" placeholder="Enter your email" #email required>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="Enter your password" #password required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
      <br>
      <p>Don't have an account? <a [routerLink]="['/register']" style="color: white;">Register here</a></p>
    </div>
  </div>
</div>
