body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: blur(10px); /* Effet de flou */
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 400px; /* Elargissement du formulaire */
}

.contact-form h2 {
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}
.contact-form input::placeholder {
  color: rgba(255, 255, 255, 0.7); /* Couleur du texte de l'attribut placeholder avec 70% de transparence */
}


label {
  display: block;
  margin-bottom: 5px;
  color: #fff; /* Couleur du texte pour les labels */
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid #555;
  border-radius: 5px;
  color: #fff; /* Couleur du texte pour les champs de saisie */
}

button {
  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff; /* Bouton bleu */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transition lors du survol */
}

button:hover {
  background-color: #0056b3; /* Changement de couleur lors du survol */
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* Fond semi-transparent */
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

