<br>
<br>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card border-dark shadow">
        <div class="card-header bg-dark text-white">
          <h2 class="card-title mb-0">User Info</h2>
        </div>
        <div class="card-body">
          <div class="form-group row">
            <label for="pseudo" class="col-sm-4 col-form-label font-weight-bold">Pseudonyme:</label>
            <div class="col-sm-6">
              <p id="pseudo" class="form-control-plaintext" *ngIf="!editing">{{ currentUser }}</p>
              <input type="text" id="pseudo" class="form-control" *ngIf="editing" [(ngModel)]="newPseudo">
            </div>
            <div class="col-sm-2">
              <button class="reset-button zoom-on-hover" (click)="toggleEdit()">
                <img src="assets/edit.png" alt="Edit" height="20">
              </button>
            </div>
          </div>
          <div class="form-group row">
            <label for="email" class="col-sm-4 col-form-label font-weight-bold">Email:</label>
            <div class="col-sm-8">
              <p id="email" class="form-control-plaintext">{{ userEmail }}</p>
            </div>
          </div>
          <div class="form-group row">        
            <div class="col-sm-2">
          
            </div>
          </div>
          <!-- Bouton pour sauvegarder le pseudonyme de l'utilisateur -->
          <button class="btn btn-primary" (click)="savePseudo()" *ngIf="editing">Save Pseudonyme</button>
        </div>
      </div>
    </div>
  </div>
</div>
