<app-navbar></app-navbar>
<div class="background"></div>
<div class="container">
  <div class="contact-form">
    <h2>Registration Form</h2>
    <form (ngSubmit)="register(email.value, password.value, confirmPassword.value)">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" class="form-control" placeholder="Enter your email" #email required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Enter your password" #password required>
      </div>
      <!-- Champ de confirmation de mot de passe -->
      <div class="form-group">
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Confirm your password" #confirmPassword required>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Register</button>
      </div>
    </form>
  </div>
</div>
